<img class="logo" src="../../assets/eventEaseV2.jpeg" alt="logo"/>

<div class="sectionFormLogin">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Nom utilisateur:</label>
      <input id="username" formControlName="username" type="text">
      <div *ngIf="signupForm!.get('username')!.invalid && signupForm!.get('username')!.touched">
        Le nom d’utilisateur est obligatoire et doit comporter au moins 3 caractères.
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Nom:</label>
      <input id="lastName" formControlName="lastName" type="text">
      <div *ngIf="signupForm!.get('lastName')!.invalid && signupForm!.get('lastName')!.touched">
          Le prénom est obligatoire et doit comporter au moins 3 caractères.
      </div>
    </div>
    <div class="form-group">
        <label for="firstName">Prénom:</label>
        <input id="firstName" formControlName="firstName" type="text">
        <div *ngIf="signupForm!.get('firstName')!.invalid && signupForm!.get('firstName')!.touched">
            Le prénom est obligatoire et doit comporter au moins 3 caractères.
        </div>
      </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email">
      <div *ngIf="signupForm!.get('email')!.invalid && signupForm!.get('email')!.touched">
        Merci de mettre une adresse email valide.
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password">
      <div *ngIf="signupForm!.get('password')!.invalid && signupForm!.get('password')!.touched">
        Le mot de passe est requis et doit comporter au moins 6 caractères.
      </div>
    </div>
  
    <button type="submit" [disabled]="signupForm!.invalid" > S'enregistrer</button>
   
</form>
</div>