.dayJour{
    font-weight: bold;
    font-size: 20px;
     text-transform: uppercase;

}
#cal-button{
    display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: center;
     
   }
   .navigate{
    border: 2px solid black;
    text-decoration:none;
    background-color: white;
    border-radius: 10%;
    margin-left: 20px;
    padding: 20px;
    color: black;
    cursor: pointer;
    &:hover{
        background-color: blue;
        color: white;
    }
  }
  
#previous, #today, #next, #month, #week, #day, #inscription{
    text-decoration:none;
    background-color: white;
    border-radius: 10%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: black;
    cursor: pointer;
    &:hover{
        background-color: blue;
        color: white;
    }
}   


/* Style pour mobiles */
@media only screen and (max-width: 600px) {
    #cal-button, a{
                display: flex;
                justify-content: space-around;
                align-items: center;
       }

    .navigate, #previous, #today, #next, #month, #week, #day, #inscription {
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 10px; 
        margin-top: 10px; /* Ajout d'une marge en bas pour espacer les éléments lorsqu'ils sont empilés */
    }
  
}

/* Style pour mobiles */
@media only screen and (max-width: 300px) {
   
    .navigate, #previous, #today, #next, #month, #week, #day, #inscription {
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 10px; 
        margin-top: 10px; /* Ajout d'une marge en bas pour espacer les éléments lorsqu'ils sont empilés */
    }
  
}