<app-header></app-header>
<div class="sectionFormInscription">
    <form [formGroup]="participantForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="event">Je souhaite participer à :</label>
          <select id="event" name="event" formControlName="event" required>
              <option value="Benevole au refuge">Bénévole au refuge</option>
              <option value="Collecte alimentaire">Collecte alimentaire</option>
              <!-- Ajoutez d'autres options d'événements ici -->
          </select>
        </div>
        <div class="form-group">
          <label for="date">date :</label>
          <input type="date" id="date" name="date" formControlName="date" required>
        </div>
        <div class="form-group" *ngIf="participantForm.value.event === 'Collecte alimentaire'"> 
          <div class="time">Choix des horaires de présence :  </div>
          <label for="timeStart">de </label>
          <input type="time" id="timeStart" name="timeStart" formControlName="timeStart" required>
          <label for="timeEnd"> à </label>
          <input type="time" id="timeEnd" name="timeEnd" formControlName="timeEnd" required>
        </div>
        <button type="submit">S'inscrire à l'événement</button>
    </form>
</div>
