.sectionFormInscription{
    margin-top: 100px;
}
.time{
  font-weight: bold;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: gray;
  }
  
  /* Style pour les erreurs de validation */
  .ng-invalid.ng-touched {
    border-color: #dc3545;
  }
  
  .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
  
/* Style pour tablettes */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .sectionFormInscription{
      margin-top: 80px;
  }
  form {
      max-width: 350px;
      padding: 15px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button[type="submit"] {
      width: calc(100% - 20px);
  }
}

/* Style pour mobiles */
@media only screen and (max-width: 600px) {
  .sectionFormInscription{
      margin-top: 50px;
  }
  form {
      max-width: 300px;
      padding: 10px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button[type="submit"] {
      width: calc(100% - 10px);
      padding: 8px;
  }
  select{
   width:  100%;
  }
}
