.navigate{
    text-decoration:none;
    background-color: white;
    border-radius: 10%;
    margin-left: 20px;
    padding: 20px;
    color: black;
    cursor: pointer;
    &:hover{
        background-color: blue;
        color: white;
    }
}
